@{
    ViewData["Title"] = "Početna";
}

<div class="text-center">
    <h1 class="display-4"> NBP - Eventstore app</h1>
    <p><a href="https://eventstore.com">    <img src="https://codeopinion.com/wp-content/uploads/2015/06/Logo.png" alt="EventStore" width="500"> </a></p>

</div>
<h2> EventStore baza:</h2>
<ul>
    <li>sastoji se od EVENATA (json dokumenti) </li>
    <li>event služi za pohranu promjene stanja </li>
    <li>podatke ne mijenjamo</li>
    <li>unos podataka u bazu i čitanje podataka (nema brisanja niti ažuriranja)</li>
</ul>
<p> &#8594; na taj način dobivamo nepromjenjive podatke koji bilježe svaku promjenu sustava, umjesto trenutačnog stanje sustava</p>

<br>
<h2>Razlike objekno objentirane baze i eventstora</h2>
<img src = "~/img/poznata_baza.png" alt="NORTHWIND" width="700"/>
<img src="~/img/event.png" alt="NORTHWIND" height="200" />

