@{
    ViewData["Title"] = "Početna";
}

<div class="text-center">
    <h1 class="display-4"> NBP - Eventstore app</h1>
    <p>Koristimo  <a href="https://eventstore.com"> bazu podataka </a>.</p>
</div>
